
.card-project{
    display: flex;
    height: 490px;
    min-width: 100px;
    border-radius: 20px;
    background: linear-gradient(to bottom,hsl(71.489, 47%, 20%),hsla(241, 72%, 46%, 0));

    position: relative;

}

.card-project:hover{
    scale: 1.0;
}
.card-info{
    
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 290px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    
   
    
}

.card-description div{
  text-align: center;
  flex-direction: row;
  font-size: 15px;
     
  
}
.card-description{
    display: flex;
    flex-grow: 1;
   
    gap: 1rem;
}


.card-image{
    display: flex;
    flex-grow: 1;

}

.card-image img{
   height: 270px;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.card-link{
    position: absolute;
    bottom: 0;
    display: flex;

 
}
   
.contentJustify{
    padding: 1rem;
    font-size: 20px;
}






    








