.container-about{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}





.About{
    display: flex;
    background: linear-gradient(to bottom,hsl(71.489, 47%, 20%),hsla(241, 72%, 46%, 0));

    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-grow: 1;

 

}
.content-about{
    display: flex;
    flex-direction: row;
    margin: 0rem 2rem 0rem 2rem;
    gap: 1rem;
}

.Content-about-info{
    display: flex;
    flex-direction: column;
}


.paragraph-about{
    
    font-size: 30px;
   

}
.icons-network {
   display: flex;
   text-align: center;
   flex-direction: row;
   gap: 0.5rem;
   margin: 12px 0px 12px 0px;
   font-size: 20px;
   
 
}
.icons-network a{
   
    color: hsl(72, 27%, 36%);
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.perfil{
    display: flex;

    }

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
.skill-about{ display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: none;
   
  
}

.perfil img{
    height: 200px;
    width: 200px;
}




@media screen and (max-width:767px){
    h1{
    font-size: 20px;
    }
    h3{
     font-size: 20px;
    }
    
    .content-about{
      margin: 0rem 2rem 0rem 2rem;
      flex-direction: column;
    
    
    
    }
    .skill-about{
        justify-content: center;
    }

    .icons-network{
        align-content: center;
        justify-content: center;
    }

    .paragraph-about{
        font-size: 14px;
        text-align: center;
        padding: 0rem 2rem 0rem 2rem;
    }
    .perfil {

        justify-content: center;
        
        
    }
    .perfil img {

        height: 120px;
        width: 120px;
        
        
    }
    

    
}


